# Storm Dataset

http://www.nws.noaa.gov/directives/

NATIONAL WEATHER SERVICE INSTRUCTION 10-1605 <br>
AUGUST 17, 2007

In [102]:
# import libraries
import os
import pandas as pd
import numpy as np

In [91]:
# read data
df = pd.read_csv(os.path.join('datasets','storms.csv.gz'), 
                 sep=',', encoding='ISO-8859-1')

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(df.shape)
print(df.columns)
df.head()

(902297, 37)
Index(['STATE__', 'BGN_DATE', 'BGN_TIME', 'TIME_ZONE', 'COUNTY', 'COUNTYNAME',
       'STATE', 'EVTYPE', 'BGN_RANGE', 'BGN_AZI', 'BGN_LOCATI', 'END_DATE',
       'END_TIME', 'COUNTY_END', 'COUNTYENDN', 'END_RANGE', 'END_AZI',
       'END_LOCATI', 'LENGTH', 'WIDTH', 'F', 'MAG', 'FATALITIES', 'INJURIES',
       'PROPDMG', 'PROPDMGEXP', 'CROPDMG', 'CROPDMGEXP', 'WFO', 'STATEOFFIC',
       'ZONENAMES', 'LATITUDE', 'LONGITUDE', 'LATITUDE_E', 'LONGITUDE_',
       'REMARKS', 'REFNUM'],
      dtype='object')

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,COUNTYNAME,STATE,EVTYPE,BGN_RANGE,BGN_AZI,...,CROPDMGEXP,WFO,STATEOFFIC,ZONENAMES,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,MOBILE,AL,TORNADO,0.0,NaN,...,NaN,NaN,NaN,NaN,3040.0,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,BALDWIN,AL,TORNADO,0.0,NaN,...,NaN,NaN,NaN,NaN,3042.0,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,FAYETTE,AL,TORNADO,0.0,NaN,...,NaN,NaN,NaN,NaN,3340.0,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,MADISON,AL,TORNADO,0.0,NaN,...,NaN,NaN,NaN,NaN,3458.0,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,CULLMAN,AL,TORNADO,0.0,NaN,...,NaN,NaN,NaN,NaN,3412.0,8642.0,0.0,0.0,NaN,5.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902297 entries, 0 to 902296
Data columns (total 37 columns):
STATE__       902297 non-null float64
BGN_DATE      902297 non-null object
BGN_TIME      902297 non-null object
TIME_ZONE     902297 non-null object
COUNTY        902297 non-null float64
COUNTYNAME    900708 non-null object
STATE         902297 non-null object
EVTYPE        902297 non-null object
BGN_RANGE     902297 non-null float64
BGN_AZI       354965 non-null object
BGN_LOCATI    614554 non-null object
END_DATE      658886 non-null object
END_TIME      663319 non-null object
COUNTY_END    902297 non-null float64
COUNTYENDN    0 non-null float64
END_RANGE     902297 non-null float64
END_AZI       177460 non-null object
END_LOCATI    403072 non-null object
LENGTH        902297 non-null float64
WIDTH         902297 non-null float64
F             58734 non-null float64
MAG           902297 non-null float64
FATALITIES    902297 non-null float64
INJURIES      902297 non-null float64
PROPDMG       902297 non-null float64
PROPDMGEXP    436363 non-null object
CROPDMG       902297 non-null float64
CROPDMGEXP    283884 non-null object
WFO           760228 non-null object
STATEOFFIC    653528 non-null object
ZONENAMES     308268 non-null object
LATITUDE      902250 non-null float64
LONGITUDE     902297 non-null float64
LATITUDE_E    902257 non-null float64
LONGITUDE_    902297 non-null float64
REMARKS       614864 non-null object
REFNUM        902297 non-null float64
dtypes: float64(19), object(18)
memory usage: 254.7+ MB

In [92]:
df['EVTYPEUP'] = df['EVTYPE'].str.upper()
df['EVTYPEUP'] = df['EVTYPEUP'].str.replace(' ', '')
df['EVTYPEUP'] = df['EVTYPEUP'].str.replace('/', '')
dfg = df[['EVTYPEUP', 'FATALITIES']].groupby(by='EVTYPEUP').agg(['sum', 'mean', 'count'])
dfg = dfg[dfg['FATALITIES']['sum']>0]
# dfg = dfg[[['FATALITIES']['sum'], ['FATALITIES']['mean']]]
# dfg.sort(dfg['FATALITIES']['sum'], ascending=False, inplace=True)
print(dfg.shape)
dfg.head(10)

(159, 3)

                FATALITIES
                       sum       mean count
EVTYPEUP
AVALANCE               1.0   1.000000     1
AVALANCHE            224.0   0.580311   386
BLACKICE               1.0   0.058824    17
BLIZZARD             101.0   0.037146  2719
BLOWINGSNOW            2.0   0.117647    17
COASTALFLOOD           3.0   0.004559   658
COASTALFLOODING        3.0   0.016393   183
COASTALSTORM           4.0   0.363636    11
COLD                  38.0   0.463415    82
COLDANDSNOW           14.0  14.000000     1

In [72]:
dfg.sort_values(('FATALITIES', 'sum'), ascending=False).head(10)

              FATALITIES
                     sum      mean   count
EVTYPEUP
TORNADO           5633.0  0.092874   60652
EXCESSIVEHEAT     1903.0  1.134088    1678
FLASHFLOOD         978.0  0.018018   54279
HEAT               937.0  1.221643     767
LIGHTNING          816.0  0.051793   15755
TSTMWIND           504.0  0.002291  219946
FLOOD              470.0  0.018557   25327
RIPCURRENT         368.0  0.782979     470
HIGHWIND           248.0  0.012269   20214
AVALANCHE          224.0  0.580311     386

In [74]:
dfg.sort_values(('FATALITIES', 'mean'), ascending=False).head(10)

                        FATALITIES
                               sum       mean count
EVTYPEUP
TORNADOES,TSTMWIND,HAIL       25.0  25.000000     1
COLDANDSNOW                   14.0  14.000000     1
TROPICALSTORMGORDON            8.0   8.000000     1
RECORDEXCESSIVEHEAT           17.0   5.666667     3
EXTREMEHEAT                   96.0   4.363636    22
HIGHWINDSEAS                   4.0   4.000000     1
HEATWAVEDROUGHT                4.0   4.000000     1
MARINEMISHAP                   7.0   3.500000     2
WINTERSTORMS                  10.0   3.333333     3
HEAVYSURFANDWIND               3.0   3.000000     1

In [75]:
dfg.sort_values(('FATALITIES', 'count'), ascending=False).head(10)

                  FATALITIES
                         sum      mean   count
EVTYPEUP
HAIL                    15.0  0.000052  288661
TSTMWIND               504.0  0.002291  219946
THUNDERSTORMWIND       133.0  0.001611   82564
TORNADO               5633.0  0.092874   60652
FLASHFLOOD             978.0  0.018018   54279
FLOOD                  470.0  0.018557   25327
THUNDERSTORMWINDS       64.0  0.003069   20852
HIGHWIND               248.0  0.012269   20214
LIGHTNING              816.0  0.051793   15755
HEAVYSNOW              127.0  0.008085   15708

In [93]:
official_event_types = [
   'Astronomical Low Tide', 'Avalanche',
   'Blizzard', 'Coastal Flood', 'Cold/Wind Chill', 'Debris Flow',
   'Dense Fog', 'Dense Smoke', 'Drought', 'Dust Devil', 'Dust Storm',
   'Excessive Heat', 'Extreme Cold/Wind Chill', 'Flash Flood', 'Flood',
   'Frost/Freeze', 'Funnel Cloud', 'Freezing Fog', 'Hail', 'Heat',
   'Heavy Rain', 'Heavy Snow', 'High Surf', 'High Wind',
   'Hurricane (Typhoon)', 'Ice Storm', 'Lake-Effect Snow',
   'Lakeshore Flood', 'Lightning', 'Marine Hail', 'Marine High Wind',
   'Marine Strong Wind', 'Marine Thunderstorm Wind', 'Rip Current',
   'Seiche', 'Sleet', 'Storm Surge/Tide', 'Strong Wind',
   'Thunderstorm Wind', 'Tornado', 'Tropical Depression',
   'Tropical Storm', 'Tsunami', 'Volcanic Ash', 'Waterspout', 'Wildfire',
   'Winter Storm', 'Winter Weather',

   # We are also adding 'OTHER'...
   'OTHER'
]

official_event_types = list(map(lambda t: t.upper(), official_event_types))

In [94]:
unrecognized_event_types_to_recognized_event_types = {
   'COLD': 'COLD/WIND CHILL',
   'COLD AND SNOW': 'COLD/WIND CHILL',
   'COLD WEATHER': 'COLD/WIND CHILL',
   'EXTREME COLD': 'EXTREME COLD/WIND CHILL',
   'EXTREME HEAT': 'EXCESSIVE HEAT',
   'EXTREME WINDCHILL': 'EXTREME COLD/WIND CHILL',
   'FLASH FLOOD/FLOOD': 'FLASH FLOOD',
   'FLASH FLOODING': 'FLASH FLOOD',
   'FLASH FLOODING/FLOOD': 'FLASH FLOOD',
   'FLOOD/FLASH FLOOD': 'FLASH FLOOD',
   'FLOODING': 'FLOOD',
   'FOG': 'DENSE FOG',
   'FREEZE': 'FROST/FREEZE',
   'FREEZING RAIN': 'HEAVY RAIN',
   'GLAZE': 'OTHER',
   'HEAT WAVE': 'HEAT',
   'HEAT WAVES': 'HEAT',
   'HEAVY RAIN/SEVERE WEATHER': 'HEAVY RAIN',
   'HEAVY SURF': 'HIGH SURF',
   'HEAVY SURF/HIGH SURF': 'HIGH SURF',
   'HIGH SEAS': 'OTHER',
   'HIGH WINDS': 'HIGH WIND',
   'HURRICANE': 'HURRICANE (TYPHOON)',
   'HURRICANE ERIN': 'HURRICANE (TYPHOON)',
   'HURRICANE OPAL': 'HURRICANE (TYPHOON)',
   'HURRICANE/TYPHOON': 'HURRICANE (TYPHOON)',
   'HYPOTHERMIA/EXPOSURE': 'OTHER',
   'ICE': 'ICE STORM',
   'ICY ROADS': 'OTHER',
   'LANDSLIDE': 'OTHER',
   'LOW TEMPERATURE': 'COLD/WIND CHILL',
   'MARINE MISHAP': 'MARINE HAIL',
   'MARINE TSTM WIND': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RECORD/EXCESSIVE HEAT': 'EXCESSIVE HEAT',
   'RIP CURRENTS': 'MARINE THUNDERSTORM WIND RIP CURRENT',
   'RIVER FLOOD': 'FLOOD',
   'ROUGH SEAS': 'MARINE STRONG WIND',
   'SEVERE THUNDERSTORM': 'THUNDERSTORM WIND',
   'STORM SURGE': 'STORM SURGE/TIDE',
   'STRONG WINDS': 'STRONG WIND',
   'THUNDERSTORM WINDS': 'THUNDERSTORM WIND',
   'TORNADOES, TSTM WIND, HAIL': 'TORNADO',
   'TROPICAL STORM GORDON': 'TROPICAL STORM',
   'TSTM WIND': 'THUNDERSTORM WIND',
   'TSTM WIND/HAIL': 'THUNDERSTORM WIND',
   'TYPHOON': 'HURRICANE (TYPHOON)',
   'UNSEASONABLY WARM': 'OTHER',
   'UNSEASONABLY WARM AND DRY': 'OTHER',
   'URBAN/SML STREAM FLD': 'FLOOD',
   'WILD FIRES': 'WILDFIRE',
   'WILD/FOREST FIRE': 'WILDFIRE',
   'WIND': 'HIGH WIND',
   'WINTER STORMS': 'WINTER STORM',
   'WINTER WEATHER/MIX': 'WINTER WEATHER'
}

In [95]:
def event_type(event_type):
    if event_type in official_event_types:
        return event_type

    if event_type in unrecognized_event_types_to_recognized_event_types:
        return unrecognized_event_types_to_recognized_event_types[event_type]

    return 'OTHER'

df['EVTYPEREC'] = df['EVTYPE'].apply(event_type)
df['EVTYPEREC'].head(10)

0    TORNADO
1    TORNADO
2    TORNADO
3    TORNADO
4    TORNADO
5    TORNADO
6    TORNADO
7    TORNADO
8    TORNADO
9    TORNADO
Name: EVTYPEREC, dtype: object

In [99]:
1 - 1.*(len(df) - df.EVTYPEREC.isin(official_event_types).sum())/len(df)

0.99281943750228585

In [103]:
exponent_to_multiplier = {np.nan: np.nan, '+': np.nan, '-': np.nan, '?': np.nan,
   '0': 10 ** 0,
   '1': 10 ** 1,
   '2': 10 ** 2, 'H': 10 ** 2, 'h': 10 ** 2,
   '3': 10 ** 3,'K': 10 ** 3,'k': 10 ** 3,
   '4': 10 ** 4,
   '5': 10 ** 5,
   '6': 10 ** 6, 'M': 10 ** 6, 'm': 10 ** 6,
   '7': 10 ** 7,
   '8': 10 ** 8,
   'B': 10 ** 9}

In [107]:
df['propdmg'] = df.PROPDMG * df.PROPDMGEXP.map(exponent_to_multiplier)

In [108]:
df['propdmg'].head()

0    25000.0
1     2500.0
2    25000.0
3     2500.0
4     2500.0
Name: propdmg, dtype: float64

In [115]:
# redo fatalities info with new event types

dffatal = df[['EVTYPEREC', 'FATALITIES']].groupby(by='EVTYPEREC').agg(['sum', 'mean', 'count'])
dffatal = dffatal[dffatal['FATALITIES']['sum']>0]
print(dffatal.shape)
dffatal.head(10)

(39, 3)

                        FATALITIES
                               sum      mean  count
EVTYPEREC
AVALANCHE                    224.0  0.580311    386
BLIZZARD                     101.0  0.037146   2719
COASTAL FLOOD                  3.0  0.004615    650
COLD/WIND CHILL              156.0  0.250401    623
DENSE FOG                     80.0  0.043692   1831
DUST DEVIL                     2.0  0.014184    141
DUST STORM                    22.0  0.051522    427
EXCESSIVE HEAT              2016.0  1.183793   1703
EXTREME COLD/WIND CHILL      302.0  0.162278   1861
FLASH FLOOD                 1033.0  0.018575  55613

In [116]:
dffatal.sort_values(('FATALITIES', 'sum'), ascending=False).head(10)

                        FATALITIES
                               sum      mean   count
EVTYPEREC
TORNADO                     5658.0  0.093285   60653
EXCESSIVE HEAT              2016.0  1.183793    1703
HEAT                        1114.0  1.321471     843
FLASH FLOOD                 1033.0  0.018575   55613
LIGHTNING                    816.0  0.051796   15754
THUNDERSTORM WIND            706.0  0.002176  324387
FLOOD                        506.0  0.017442   29011
RIP CURRENT                  368.0  0.782979     470
HIGH WIND                    306.0  0.013856   22085
EXTREME COLD/WIND CHILL      302.0  0.162278    1861

In [117]:
dffatal.sort_values(('FATALITIES', 'mean'), ascending=False).head(10)

                        FATALITIES
                               sum      mean count
EVTYPEREC
TSUNAMI                       33.0  1.650000    20
HEAT                        1114.0  1.321471   843
EXCESSIVE HEAT              2016.0  1.183793  1703
RIP CURRENT                  368.0  0.782979   470
AVALANCHE                    224.0  0.580311   386
HURRICANE (TYPHOON)          132.0  0.456747   289
MARINE STRONG WIND            22.0  0.431373    51
COLD/WIND CHILL              156.0  0.250401   623
EXTREME COLD/WIND CHILL      302.0  0.162278  1861
HIGH SURF                    150.0  0.144648  1037

In [118]:
dffatal.sort_values(('FATALITIES', 'count'), ascending=False).head(10)

                  FATALITIES
                         sum      mean   count
EVTYPEREC
THUNDERSTORM WIND      706.0  0.002176  324387
HAIL                    15.0  0.000052  288661
TORNADO               5658.0  0.093285   60653
FLASH FLOOD           1033.0  0.018575   55613
FLOOD                  506.0  0.017442   29011
HIGH WIND              306.0  0.013856   22085
LIGHTNING              816.0  0.051796   15754
HEAVY SNOW             127.0  0.008085   15708
HEAVY RAIN             105.0  0.008768   11975
WINTER STORM           216.0  0.018888   11436